.service{
    background-color: var(--primary-color);
    padding-bottom: 120px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
    height: 300px;
}
.img{
    position: absolute;
    content: '';
    top: 65px;
    right: 80px;
    width: 90%;
}
.s{
    margin: 0 150px;
    gap: 2%;
}
.service__title{
        font-family: 'JosefinSans-Regular' !important;
        margin: 70px 0 90px;
        text-transform: capitalize;
}
.services__body{
        margin-top: -50px;
        background-color: #fff;
        box-shadow: 2px 0 12px 0 rgb(0 0 0 / 15%);
        padding: 30px 10px 10px;
        border-radius:20px ;
        -webkit-border-radius:20px ;
        -moz-border-radius:20px ;
        -ms-border-radius:20px ;
        -o-border-radius:20px ;
}
.icon{
    font-size: 35px;
    margin-bottom: 10px;
    color: var(--primary-color);
}
.body__title{
font-family: 'JosefinSans-Regular' !important;
text-transform: capitalize;
font-size: 20px;
font-weight: bold;
color: var(--primary-color);
}
.body__para{
    font-family: 'JosefinSans-Regular' !important;
    text-transform: capitalize;
}
/*background-image: linear-gradient(to top, #133A5Ecf, #133A5Ecf),
url(https://i.shgcdn.com/4427c8e2-7042-41d8-bcfb-0fb78efd53bf/-/format/auto/-/preview/3000x3000/-/quality/lighter/); */